body {
    margin: 0;
    padding: 0;
    color: white;
    width: 95vw;
    height: 95vh;
    display: grid;
    place-items: center;
    justify-content: center; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #2d6cc5 0, #0f133a
    44.41%, #101034 56.43%, #141034 69.58%, #301436 100%, #e2082c 0);
    

}